@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer components {
    .button-plain {
        @apply cursor-pointer rounded border-gray-500 bg-white/90 hover:bg-gray-500 hover:text-white;
    }
}
